.env
.gradle
.idea
build
out

**/.gradle
**/.idea
**/build
**/out

vsha-frontend/node_modules
vsha-frontend/.pnp
vsha-frontend/.pnp.js
vsha-frontend/coverage
vsha-frontend/.DS_Store
vsha-frontend/.env.local
vsha-frontend/.env.development.local
vsha-frontend/.env.test.local
vsha-frontend/.env.production.local

setenv.bat

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

/cert/ca.pem
/cert/cert.pem
/cert/key.pem
