.gradle
.idea
build
out
backend/.gradle
backend/build
backend/out

**/vsha.jar

frontend/.gradle
frontend/build
frontend/out
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

docker/setenv.bat

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

/docker/cert/ca.pem
/docker/cert/cert.pem
/docker/cert/key.pem
