GF_SECURITY_ADMIN_PASSWORD=xxx
PLEX_CLAIM=xxx
MQTT_USERNAME=xxx
MQTT_PASSWORD=xxx
SPRING_INFLUX_USER=xxx
SPRING_INFLUX_PASSWORD=xxx
BEEPER_ENABLED=true
BEEPER_PINNUMBER=21
SUNSETSUNRISE_ZENITH=OFFICIAL
SUNSETSUNRISE_LATITUDE=xxx
SUNSETSUNRISE_LONGITUDE=xxx
SUNSETSUNRISE_TIMEZONE=Europe/Budapest
TELEGRAM_BOTTOKEN=xxx
TELEGRAM_CHATID=xxx
