
# application.properties template

mqtt.qos = 0
mqtt.broker = tcp://x.x.x.x:1883
mqtt.clientId = xxxx
mqtt.username = xxxx
mqtt.password = xxxx
mqtt.keepAliveInterval = 30

spring.influx.database = xxxx
spring.influx.retentionPolicy = xxxx
spring.influx.url = http://x.x.x.x:8086
spring.influx.user = xxxx
spring.influx.password = xxxx

beeper.enabled = true

zenith = CIVIL
latitude = 0.0
longitude = 0.0
timeZone = Europe/Budapest

telegram.bot_token = xxx
telegram.chat_id = xxx
